@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@500&family=Source+Sans+Pro:wght@400;600&display=swap');
:root{
    --dark : #011627;
    --light : #FDFFFC;
    font-size: 16px;
}
h2{
    font-family: poppins;
}
.title{
    font-size: 2.5rem;
    font-family: Poppins;
    font-weight: 500;
}
.text{
    font-size: 1rem;
    font-family: Source Sans Pro;
}
nav{
    background-color: var(--light);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    box-shadow: 0px 2.5px 50px 2.5px rgba(1,22,39,0.1); 
}
nav > h2{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--dark);
}
footer{
    background-color: var(--dark);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > p{
    font-family: Source Sans Pro;
    font-size: 1.2rem;
    color: rgba(253, 255, 252, 0.5)
}
body::-webkit-scrollbar{
    display: none;
}
.App{
    background-color: var(--light);
}
.name-div{
    margin-top: 200px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}
.name-form{
    width: 400px;
    height: 60px;
    border-radius: 10px;
    text-indent: 20px;
    border: 1px solid rgba(1, 22, 39, 0.15);
}
.name-form:focus{
    outline: none;
    box-shadow: 0px 5px 20px 5px rgba(1, 22, 39, 0.15);
    transition: 0.5s ease-in-out;

}
.name-form::placeholder{
    font-family: Source Sans Pro;
    font-size: 1rem;
    color: rgba(1, 22, 39, 0.35);
}
.submit-name{
    margin-left: 20px;
}
.submit-name:hover{
    box-shadow: 0px 5px 20px 5px rgba(1, 22, 39, 0.15);
}
.activities , .today-did {
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 2.5px 5px 2.5px rgba(1, 22, 39, 0.15);
    background-color: #F5F5F5;
    width: 50%;
}
.today-did{
    margin-left : 20px;
}
.add-activity{
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.dashboard{
    padding: 0 100px;
}
.card{
    width: 100%;
    padding: 20px;
}
.card h2{
    font-family: Poppins;
    font-size: 1rem;
}
.cards-div{
    margin-top: 90px;
    display : flex;
    align-items : top;
    justify-content : space-between;
}
.tick{
    transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
    transform: scaleX(-1) rotate(-35deg);
}
.tick-button,.x-button{
    font-weight: 600;
    font-family: Roboto;
    font-size: 1.25rem;
    color: var(--dark);
    padding: 5px 10px;
    background-color: transparent;
    border: var(--dark) 3px solid;
    border-radius: 10px;
}
.activity-setter{
    margin-top: 20px;
    padding:30px;
    border-radius: 20px;
    box-shadow: 0px 2.5px 5px 2.5px rgba(1, 22, 39, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.activity-title-input{
    text-indent: 20px;
    height: 30px;
    width: 100%;
    border: 0;
    background-color: transparent;
    border-bottom : rgba(1, 22, 39, 0.30) solid 1.5px;
    border-radius: 1px;
    color: rgba(1, 22, 39, 0.30);
    font-size: 1rem;
    font-family: Source Sans Pro;
}
.activity-title-input:focus{
    outline: 0;
}
.activity-title-input::placeholder{
    font-family: Source Sans Pro;
    font-size: 1.25rem;
    text-indent: 20px;
    color: rgba(1, 22, 39, 0.30);
}
.activity-difficulty-div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.difficulty-button{
    margin-top: 10px;
    color: var(--light);
    border-radius: 10px;
    padding: 0px 10px;
    width: 50%;
    height: 40px;
    font-family: Source Sans Pro;
    font-size: 1.2rem;
    margin-right: 10px;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}
.red{
    border: 3px rgba(231,29,54,0.65) solid;
    background-color: rgba(231,29,54,0.15);
}
.yellow{
    border: 3px rgba(255 , 159 , 28 , 0.65) solid;
    background-color: rgba(255 , 159 , 28 , 0.15);
}
.green{
    border: 3px rgba(46 , 196 , 182 , 0.65) solid;
    background-color: rgba(46 , 196 , 182 , 0.15);
}
.submit-form{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    color: var(--light);
    background-color: var(--dark);
    font-family: Poppins;
    font-size: 1rem;
    cursor: pointer;

}
@media only screen and (max-width:1000px){
    nav{
        padding: 0 30px;
    }
    .name-div{
        padding: 0px 30px;
        margin-bottom: 200px;
    }
    .title{
        text-align: left;
        font-size: 1.5rem;
    }
    .name-form{
        width: 100%    
    }
    .submit-name{
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
        font-size: 10rem;
    }
    .text{
        font-size: 1.15rem;
    }
    .dashboard{
        padding: 0 30px;
    }
    .cards-div{
        flex-direction: column;
        justify-content: none;
    }
    .activities, .today-did{
        width: 100%;
        padding: 15px 20px;
    }
    .today-did{
        margin-left: 0;
        margin-top: 50px;
    }
    .tick-button,.x-button{
        font-size: 1.5rem;
        padding: 1.5px 10px;
        border: 3.5px var(--dark) solid;
    }
    .difficulty-button{
        border-radius: 10px;
        padding: 0px 25px;
        width: 75%;
        height: 40px;
        font-family: Source Sans Pro;
        font-size: 1.25rem;
        font-weight: 600;
    }
}
